.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
original-analysis.Rmd

# messy files during exploration phase
nonwarn-scrape-part1.xlsx
nonwarn-scrape-part2.Rmd
warn-analysis-part1.xlsx
warn-layoffs-original-assignment.Rmd
warn-scrape-part1.html
warn-scrape-part2.Rmd
